body{
    text-align: center;
}

/* Rows */

		.row:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		.row:first-child > * {
			padding-top: 0;
		}

		.row > * {
			padding-top: 0;
		}

		/* Modifiers */

			/* Flush */

				.row.flush {
					margin-left: 0;
				}

				.row.flush > * {
					padding: 0 !important;
				}

			/* Quarter */

				.row.quarter > * {
					padding: 12.5px 0 0 12.5px;
				}

				.row.quarter + .row.quarter > * {
					padding-top: 12.5px;
				}

				.row.quarter {
					margin-left: -12.5px;
				}

			/* Half */

				.row.half > * {
					padding: 25px 0 0 25px;
				}

				.row.half + .row.half > * {
					padding-top: 25px;
				}

				.row.half {
					margin-left: -25px;
				}

			/* One and (a) Half */

				.row.oneandhalf > * {
					padding: 75px 0 0 75px;
				}

				.row.oneandhalf + .row.oneandhalf > * {
					padding-top: 75px;
				}

				.row.oneandhalf {
					margin-left: -75px;
				}